<!DOCTYPE html> {% load static %}{% load socialaccount %}
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoomBazar</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/mdb.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'home/css/mystyle.css' %}" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'home/css/b_shop-cart.css' %} " type="text/css"> -->
    <link rel="stylesheet" href="{% static 'home/css/searchstyle.css' %}" type="text/css">


    {% block css %} {% endblock %}

</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Offcanvas Menu Begin -->
    <!-- <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="{% url 'index' %}"><img src="{% static 'home/img/logo.png' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>
    </div> -->
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->

    <header class="navbar navbar-light">
        <!-- left section for brand -->
        <div class="navbar-brand ml-5">
            <div class="navbar-text text-center">LOOM BAZAR</div>
        </div>
        <!-- middle section -->

        <!-- middle  for menu -->
        <div class="navbar-expand">
            <ul class="navbar-nav text-center">
                <!-- men section -->
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Men
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3"
                        aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <!-- Women section -->
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Women
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3"
                        aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kids
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3"
                        aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HOME & LIVING
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3"
                        aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg"
                                                class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- middle for search bar -->
        <div class="">
            <form class="" action="#">
                <div class="search_box">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" class="" placeholder="What are you looking for?" autocomplete="off">
                </div>
            </form>
        </div>

        <!-- right for cart and login -->
        <div class="mx-3">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link text-center">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <div>Sign In</div>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-center">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <div>Bag</div>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container_shadow"> </div>

    <!-- Header Section End -->


    {% block content %}
    <div class="container py-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta est similique quas architecto doloribus,
            harum mollitia tempora, possimus magni, odit totam tempore! Velit deserunt perferendis molestiae, magni
            repudiandae assumenda quis?</p>

    </div>
    {% endblock %}


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'home/img/logo.png' %}" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            cilisis.
                        </p>
                        <div class="footer__payment">
                            <a><img src="{% static 'home/img/payment/payment-1.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-2.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-3.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-4.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-5.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | LoomBazar </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'home/js/mixitup.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    {% block javascript %}
    {% endblock %}
    <script type="text/javascript">
        // $('.dropdown-toggle').dropdown(); 
        $('#megamenutab li').hover(function () {
            console.log(this);
            $(this).addClass('active');
            $(this).siblings().removeClass('active');


            $($(this).attr('rel')).removeClass('fade').addClass('active').siblings().addClass('fade').removeClass('active');


        });
    </script>
</body>

</html>