<!DOCTYPE html> {% load static %}{% load socialaccount %}
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LoomBazar</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->


    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/mdb.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'home/css/mystyle.css' %}" type="text/css"> -->
    <!-- <link rel="stylesheet" href="{% static 'home/css/b_shop-cart.css' %} " type="text/css"> -->
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" /> {% block css %} {% endblock %}

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>


    <!-- Header Section Begin -->

    <header class="navbar navbar-light bg-white sticky-top">

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler d-md-none" type="button" onclick="show_sidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- sidebar menu -->
        <div class="side_overlay"></div>
        <div class="sidebar_menu">
            <div class="sidetop_section">
                <span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>
                <div class="row">
                    <div class="col-4">
                        <a href="javascript:void(0);">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31.5 31.5" style="width: 60%" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: #FFFFFF;
                                    }
                                </style>
                                <path class="st0" d="M24.4,23.4c-0.9-0.3-1.8-0.6-2.5-0.9c-0.8-0.3-1.5-0.5-1.8-0.7c-0.7-0.4-1-0.8-1-1.4v-1.9
                                c0.2-0.2,0.4-0.4,0.5-0.5c0.5-0.6,0.9-2.2,1.1-3.5c0.1-0.2,0.2-0.4,0.3-0.7l0.2-1.5c0.1-0.4-0.1-1-0.4-1.3c0-0.3,0.1-0.7,0.1-1
                                c0-0.5-0.5-1.8-0.6-1.9c-0.2-0.5-1.4-1.4-1.4-1.4c-0.2-0.1-0.5-0.3-1.1-0.6c-0.3-0.1-0.7-0.3-0.8-0.3L17,5.7c-0.2-0.2-1-0.9-1.2-1.2
                                c-0.1-0.1-0.2-0.4-0.2-0.6c-0.1-0.4-0.2-0.8-0.5-0.9l-0.3-0.1L14.6,3c-0.5,0.3-0.5,2-0.5,2.1C14,5,13.7,4.7,13.3,4.8
                                c-0.4,0.1-0.4,0.5-0.4,0.7c0,0.2-0.1,0.5-0.1,0.6c-0.6,0.4-1.1,0.8-1.3,1.1c-0.1,0.1-0.1,0.2-0.2,0.3c-0.2,0.3-0.5,0.7-0.6,1.1
                                c-0.2,0.6-0.2,1.7-0.2,2c0,0.2,0,0.4,0.1,0.6c-0.2,0.3-0.5,0.8-0.4,1.3l0.2,1.5c0.1,0.4,0.2,0.6,0.4,0.8c0.3,1.2,0.6,2.7,1.1,3.3
                                c0.1,0.1,0.2,0.2,0.4,0.4v2c0,0.6-0.3,1.1-1,1.4c-0.3,0.2-1,0.4-1.8,0.7c-0.8,0.2-1.6,0.5-2.5,0.9c-0.6,0.2-0.8,0.5-1.1,0.9
                                l-0.2,0.2l0.7,0.7L6.5,25c0.3-0.3,0.4-0.5,0.8-0.6C8.1,24,9,23.8,9.7,23.5c0.9-0.3,1.6-0.5,2-0.7c1-0.5,1.5-1.3,1.5-2.3l0-2.1
                                l-0.1-0.4L13,17.8c-0.2-0.1-0.3-0.3-0.4-0.4c-0.2-0.2-0.6-1.2-0.9-3l0-0.2l-0.2-0.1c0,0-0.1-0.1-0.1-0.3l-0.2-1.5
                                c0-0.1,0.1-0.4,0.2-0.6l0.5-0.1L11.5,11c0-0.1-0.1-0.2-0.1-0.4c0-0.4,0.1-1.3,0.2-1.7c0.1-0.2,0.3-0.5,0.5-0.8
                                c0.1-0.1,0.2-0.3,0.3-0.4c0-0.1,0.2-0.3,1.1-0.9c0.1-0.1,0.2-0.2,0.3-0.6c0.2,0.2,0.5,0.5,0.9,0.2c0.3-0.2,0.5-0.9,0.5-1.3
                                c0.3,0.3,0.7,0.8,1.2,1.2l0.1,0.1c0.1,0.1,0.4,0.2,1,0.5c0.3,0.1,0.8,0.4,0.9,0.4c0.4,0.3,1,0.9,1.1,1.1C19.7,9,20,9.9,20,10.1
                                c0,0.2-0.1,0.8-0.1,1.1l-0.1,0.4l0.3,0.1c0.1,0.2,0.3,0.5,0.2,0.6L20,13.8c0,0.2-0.1,0.2-0.1,0.3l-0.1,0.1l0,0.1
                                c-0.4,1.9-0.7,2.9-1,3.1c-0.1,0.2-0.4,0.4-0.6,0.6L18,18.2l0.1,0.3l0,2c0,1,0.5,1.8,1.5,2.3c0.4,0.2,1.1,0.5,2,0.7
                                c0.7,0.2,1.6,0.5,2.5,0.9c0.3,0.1,0.5,0.3,0.8,0.6l0.2,0.2l0.7-0.7l-0.2-0.2C25.3,24,25,23.7,24.4,23.4z M15.7,0C7.1,0,0,7.1,0,15.7
                                c0,8.7,7.1,15.7,15.7,15.7c8.7,0,15.7-7.1,15.7-15.7C31.5,7.1,24.4,0,15.7,0z M15.7,30.5C7.6,30.5,1,23.9,1,15.7S7.6,1,15.7,1
                                c8.1,0,14.7,6.6,14.7,14.7S23.9,30.5,15.7,30.5z"> </path>
                            </svg>
                        </a>
                    </div>

                    <div class="col-6">


                        <h5>Welcome!</h5>
                        <h6><a href="javascript:void(0);">Sign In/ Sign Up</a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="sidemenu_section">


                <ul class="nav flex-column main_category" id="accordion">

                    <li class="nav-item">

                        <a class="nav-link mx-4" href="">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span class="mx-4">Home</span>
                        </a>
                    </li>


                    <li class="nav-item">

                        <a class="nav-link  mx-4" data-toggle="collapse" href="#men">
                            <i class="fa fa-male" aria-hidden="true"></i>
                            <span class="mx-4">Men</span>
                            <i class="fa fa-plus plus_minus float-right" aria-hidden="true"></i>
                        </a>

                        <div id="men" class="collapse" data-parent="#accordion">
                            <div class="card-body ml-4">
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a href="" class="nav-link">product</a>

                                    </li>
                                    <li class="nav-item"><a href="" class="nav-link">product</a></li>
                                    <li class="nav-item"><a href="" class="nav-link">product</a></li>
                                    <li class="nav-item"><a href="" class="nav-link">product</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>



                    <li class="nav-item">

                        <a class="collapsed nav-link  mx-4" data-toggle="collapse" href="#collapseTwo">
                            <i class="fa fa-female" aria-hidden="true"></i>
                            <span class="mx-4">Women</span>
                            <i class="fa fa-plus plus_minus float-right" aria-hidden="true"></i>
                        </a>

                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum..
                            </div>
                        </div>
                    </li>


                    <li class="nav-item">
                        <a class="collapsed nav-link mx-4" data-toggle="collapse" href="#collapseThree">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <span class="mx-4">Kids</span>
                            <i class="fa fa-plus plus_minus float-right" aria-hidden="true"></i>
                        </a>

                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum..
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="collapsed nav-link mx-4" data-toggle="collapse" href="#home_living">
                            <span class="mx-4">Home & Living</span>
                            <i class="fa fa-plus plus_minus float-right" aria-hidden="true"></i>
                        </a>

                        <div id="home_living" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Lorem ipsum..
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- End of sidebar menu -->
        <!-- mobile search box -->
        <div class="mobile_search_page">
            <form name="mobilesearch" action="/cwmobile/msearchbox" method="post">
                <input type="text" placeholder="What are you looking for?">
                <button class="mobile_search_btn"><i class="fa fa-search fa-2x" aria-hidden="true"></i>
                </button>

            </form>
        </div>
        <!-- End of Mobile search box -->
        <!-- left section for brand -->
        <div class="navbar-brand m-auto">
            <div class="navbar-text text-center">LOOM BAZAR</div>
        </div>
        <!-- middle section -->

        <!-- middle  for menu -->
        <div class="navbar-expand-md d-none d-md-block mr-auto ">
            <ul class="navbar-nav text-center">
                <!-- men section -->
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Men
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <!-- Women section -->
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Women
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kids
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mega-dropdown mx-4">
                    <a class="nav-link dropdown-toggle text-uppercase" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">HOME & LIVING
                        <span class="sr-only">(current)</span>
                    </a>
                    <div class=" mega-menu dropdown-menu v-1 z-depth-1 white py-5 px-3" aria-labelledby="navbarDropdownMenuLink1">
                        <div class="row">
                            <div class="col-3">
                                <ul class="nav flex-column nav-tabs" id="megamenutab" aria-orientation="vertical">
                                    <li class="sub-title nav-item active" rel=".submenu_laptop">
                                        <a class=" nav-link  text-uppercase">
                                            Laptops
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_phone">
                                        <a class="nav-link text-uppercase" href="">
                                            Phones
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_mobile">
                                        <a class="nav-link text-uppercase" href="">
                                            Mobile
                                        </a>
                                    </li>
                                    <li class="sub-title nav-item" rel=".submenu_tablet">
                                        <a class=" nav-link text-uppercase" href="">
                                            Tablet
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-4">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Design</h6>
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">product1</li>
                                            <li class="list-group-item">product2</li>
                                            <li class="list-group-item">product3</li>
                                            <li class="list-group-item">product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">phone product1</li>
                                            <li class="list-group-item">phone product2</li>
                                            <li class="list-group-item">phone product3</li>
                                            <li class="list-group-item">phone product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">mobile product1</li>
                                            <li class="list-group-item">mobile product2</li>
                                            <li class="list-group-item">mobile product3</li>
                                            <li class="list-group-item">mobile product4</li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        <ul class="list-unstyled">
                                            <li class="list-group-item">tablet product1</li>
                                            <li class="list-group-item">tablet product2</li>
                                            <li class="list-group-item">tablet product3</li>
                                            <li class="list-group-item">tablet product4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <h6 class="sub-title pb-3 text-uppercase font-weight-bold">Featured</h6>
                                <!--Featured image-->
                                <div class="tab-content">
                                    <div class="tab-pane submenu_laptop active" id="laptop">
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_phone fade" id="phone">
                                        img from phone
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_mobile fade" id="mobile">
                                        img from mobile
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>
                                    <div class="tab-pane submenu_tablet  fade" id="tablet">
                                        img from tablet
                                        <a href="#!" class="view overlay z-depth-1 p-0 my-3">
                                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(42).jpg" class="img-fluid" alt="First sample image">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="d-flex flex-row align-items-center ml-auto">
            <!-- middle for search bar -->
            <div class="d-none d-md-block">
                <form class="" action="#">
                    <div class="search_box">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="text" class="" placeholder="What are you looking for?" autocomplete="off">
                    </div>
                </form>
            </div>

            <!-- right for cart and login -->
            <div class="mx-3">
                <ul class="nav">
                    <li class="nav-item d-md-none" id="mobile_search">
                        <a href="#" class="nav-link text-center">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <div>Search</div>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item d-none d-md-block">
                        <a href="{% url 'profile_page'%}" class="nav-link text-center">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <div>Profile</div>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item d-none d-md-block">
                        <a href="{% url 'login_page'%}" class="nav-link text-center">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <div>Sign In</div>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item" id="bag">
                        <a href="{% url 'cart_page' %}" class="nav-link text-center">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <div>Bag</div>

                        </a>
                        <div class="lmbz_cart">
                            <div class="h5">you cart value</div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <!-- dropdown cart in header -->

    </header>


    <!-- End of dropdown cart in header -->
    <div class="container_shadow"> </div>

    <!-- Header Section End -->
    <!--cart modal-->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="cart_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Your Cart</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body ">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



    {% block content %}
    <div class="container py-4">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta est similique quas architecto doloribus, um dolor sit amet consectetur adipisicing elit. Alias quisquam, aut ab atque molestiae pariatur ullam qui, veniam placeat aperiam dolores
            cum repellat distinctio iusto, excepturi quasi! In repellat eaque rerum veritatis, quidem officiis? Nam omnis incidunt natus excepturi nobis. Est suscipit ad eius animi, in repellendus veritatis explicabo! Velit laborum, quis, fugiat dolores
            repudiandae fugit a consequuntur sit explicabo in ducimus rerum quidem molestias perspiciatis deleniti officiis repellendus praesentium dolorum facere pariatur saepe, aliquam officia at! Dicta ipsum quisquam minus harum odit sit provident
            a aspernatur distinctio excepturi eum, repudiandae quos ad at aut, ratione libero nihil tenetur. Nobis, ipsam facilis aut excepturi cum repellendus ipsum enim, similique voluptatum fugiat iure aliquam maiores tempore voluptatem sed a repellat
            consectetur perferendis error quis, soluta hic laborum? Odit placeat molestiae quos libero molestias dolor dolorem similique error cupiditate nemo dolores, sed minima neque inventore laborum, fuga ut nisi esse voluptatem quam soluta, doloribus
            nobis ipsa commodi? Perspiciatis alias cupiditate corporis sunt, quibusdam facilis sint voluptatibus laudantium fugiat adipisci! Nobis recusandae, saepe veniam hic sapiente laudantium placeat. Distinctio perspiciatis voluptatum quos ab unde
            reprehenderit debitis error culpa aperiam soluta! Quae magnam, quas inventore impedit doloremque provident quis repellendus, facilis reprehenderit animi ipsam rem hic dolor et quod consequatur beatae, architecto asperiores at! Laborum totam
            voluptate facilis eaque quis facere fugiat neque aliquid. Optio architecto obcaecati sapiente magni. Error voluptate id a ut asperiores amet aperiam totam sit, quae numquam quidem expedita officiis corporis sed alias accusamus exercitationem.
            Est, quas nostrum facere aliquam quibusdam sit non animi expedita nihil maiores fuga alias enim cumque vitae sint, eius quis, quae optio! Debitis ab doloribus expedita distinctio nesciunt! Animi repellendus expedita nisi atque, eos architecto
            corporis velit perspiciatis consequuntur corrupti fugit doloribus ullam accusamus nulla obcaecati dolore illo error quaerat! Repellat saepe quaerat dolores harum iste odit beatae rem voluptatem necessitatibus illo, laborum libero inventore?
            Voluptatem doloremque, repudiandae voluptate est eveniet explicabo aliquid, voluptates laborum provident dicta error repellat officiis sapiente nihil laudantium veniam temporibus! Fugiat inventore optio esse doloribus, eaque autem recusandae
            cumque dolore hic labore earum soluta aperiam adipisci rem necessitatibus architecto. Assumenda, nostrum ipsa animi ipsam ratione voluptas eius nulla dignissimos voluptates obcaecati cupiditate incidunt, libero dolor. Sunt fugiat alias quae
            aperiam repellat, non facere illo labore ea incidunt, aut expedita suscipit omnis beatae inventore, ipsam optio iusto nemo! Consequatur cum optio sit. Tempore id laborum quaerat, sunt odit cum, quasi nemo veritatis perspiciatis, porro consequatur
            voluptatem illo. Incidunt, in magnam ratione tempora a obcaecati odio quod mollitia ex numquam unde nulla quae facere omnis perferendis nobis corporis sed magni aut quibusdam doloribus! Cum, mollitia dolor laboriosam voluptas a perspiciatis
            voluptatibus omnis maxime debitis. Velit quidem, explicabo tenetur ipsum modi quas laborum accusantium vel fugiat, blanditiis enim similique assumenda nostrum deleniti laudantium illum praesentium sit. Quibusdam vel quasi illo temporibus,
            maiores laborum, delectus, fuga repellendus dolor eligendi iste! Officiis, nostrum quaerat? In soluta similique perferendis eos officia ipsam perspiciatis, rem dolores quia distinctio quae eaque, nobis ea velit architecto esse illum porro
            quidem voluptatem praesentium! Soluta aperiam dolores nostrum mollitia eius quaerat alias molestias dolore aliquam incidunt, minus quod doloribus, voluptate ipsam aut laudantium autem doloremque neque laboriosam tenetur voluptates hic nesciunt.
            At iure asperiores labore quis autem voluptatem minima quisquam deleniti consectetur quidem dolor ut impedit, veritatis natus aspernatur optio in ducimus, reprehenderit animi, laudantium magni. Fugit at magni eos doloribus porro rem, aliquid
            quos sapiente veritatis necessitatibus earum sunt esse fugiat, dolorem, incidunt odit temporibus quasi eaque ad! Vitae dolorem amet laboriosam quae blanditiis, libero veniam provident. Quod, similique? Consequuntur ab illum saepe dicta voluptate
            laboriosam. Alias expedita nisi, voluptate illum quam, nostrum maxime distinctio quod neque corporis quo sequi modi eos repudiandae et eaque. Reprehenderit, sunt error architecto eaque laboriosam possimus unde nam illo temporibus voluptatum?
            Praesentium incidunt eius id quidem suscipit quas accusamus optio itaque earum officiis et, ratione ad minus ab! Veniam tempore soluta, ducimus molestias odio doloribus deserunt aliquam cumque atque? Esse reiciendis illum exercitationem ducimus
            harum explicabo voluptatem fugiat accusamus, maiores ad, incidunt repellat nostrum consectetur quae? Cumque, quas! Nihil a esse quibusdam tempore reprehenderit dignissimos quae. Eum consectetur, modi nemo optio, ducimus iure quas veniam odit
            corporis qui quam id dolores, repudiandae accusamus. Quisquam iste deserunt reiciendis cumque quidem quibusdam dolorum modi fuga sunt, sint laudantium aperiam id, repellendus, quae at. Harum, iste similique quam maxime quos eum placeat accusantium.
            Ex asperiores atque explicabo inventore ad error distinctio similique! Illum pariatur non adipisci reiciendis, aut commodi voluptas voluptatibus incidunt ipsum consequatur doloremque tempora ducimus et aliquid deserunt, tempore vero nostrum
            recusandae officia iusto provident. Corporis quis possimus blanditiis! Mollitia, reprehenderit? Aliquid aliquam quaerat assumenda atque provident libero eius, alias porro quo voluptatibus totam ad suscipit optio, eaque aut officia quia perferendis
            fugiat iste soluta doloribus cum illum! Totam ullam expedita iure necessitatibus aliquid aut et officia deserunt eligendi repudiandae neque, cum earum. Voluptatum aliquid quae architecto molestias numquam. Molestiae numquam porro, fugiat modi
            blanditiis error, nostrum eius eveniet voluptates possimus magni exercitationem reprehenderit rerum aut repellendus. Doloribus voluptates adipisci minus nesciunt, sint blanditiis amet eaque deleniti nihil, quia aperiam! Nesciunt perspiciatis
            voluptatem architecto impedit repudiandae est atque enim inventore, quidem, nihil iste officiis officia consectetur facilis asperiores voluptate explicabo amet consequatur, ad incidunt dolorum! Iste minima odit, officia vero perferendis quibusdam
            ad quis amet iure porro quod tenetur doloremque explicabo repellat dolore aliquam illum. Pariatur commodi ipsa et aperiam nisi quos facilis numquam dolore quae, blanditiis necessitatibus optio! Illo repellat, aliquam nemo natus recusandae
            exercitationem unde quam quos non quia voluptate possimus nisi odio perspiciatis aspernatur cumque doloribus officia veritatis eum praesentium. Placeat tempore doloribus nesciunt dicta repellendus labore sapiente quam totam autem consequatur.
            Libero, ducimus quasi adipisci non ut voluptates voluptatibus numquam ullam soluta in quos? Consequuntur culpa similique voluptatem saepe aliquam magnam perspiciatis ex assumenda mollitia quasi? Optio illo autem, voluptatem non voluptate recusandae
            vel molestias est cumque, doloribus animi harum. Nihil quia modi perferendis ut rerum facere, sapiente veritatis necessitatibus earum magni et! Assumenda, sit. Ipsa dolorem nesciunt architecto repellendus assumenda voluptates voluptatem quos
            adipisci eum sapiente alias accusantium, ducimus facere in corporis a explicabo saepe dicta quaerat amet cum maxime, aperiam, veritatis magni. Adipisci at nobis impedit, cumque fugit blanditiis fuga recusandae facilis, vel voluptates eveniet.
            Dignissimos doloremque vitae explicabo nemo, voluptatum eligendi aspernatur mollitia optio officia vel accusamus beatae consectetur architecto saepe delectus. Et nemo natus totam ex! Minima esse minus earum aut quaerat debitis fuga dolorem
            molestias adipisci corporis culpa, dolores nisi molestiae quia dicta quasi officia aliquam, id at eaque doloremque. Sunt, inventore, culpa facilis vero soluta eius omnis delectus eum blanditiis qui, praesentium totam quas ab mollitia adipisci
            doloremque non recusandae unde! Odit culpa quae impedit, corporis excepturi molestiae unde, sed, assumenda aliquam at corrupti optio saepe quod inventore non nisi illum ad nostrum maiores quisquam minima ut enim atque? Nobis rem architecto
            veritatis accusamus repellat, ullam hic mollitia illum ad vero quas temporibus at eius. Eius commodi odit distinctio iste, debitis impedit temporibus aperiam, neque nulla ratione quo, corporis quis tempore similique et fugit fugiat totam nihil
            iusto ex. Ipsum recusandae explicabo nemo mollitia inventore, quia velit animi quas accusantium ratione voluptas incidunt, iste pariatur impedit non eius hic nulla doloribus dolor obcaecati odio? Incidunt optio culpa veniam aliquid deserunt
            beatae velit, tempora nisi qui ullam deleniti odio officiis facere nihil iure natus soluta? Praesentium, impedit eius.</p>

    </div>
    {% endblock %}




    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-7">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="{% url 'index' %}"><img src="{% static 'home/img/logo.png' %}" alt=""></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt cilisis.
                        </p>
                        <div class="footer__payment">
                            <a><img src="{% static 'home/img/payment/payment-1.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-2.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-3.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-4.png' %}" alt=""></a>
                            <a><img src="{% static 'home/img/payment/payment-5.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-5">
                    <div class="footer__widget">
                        <h6>Quick links</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <div class="footer__widget">
                        <h6>Account</h6>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Wishlist</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-8">
                    <div class="footer__newslatter">
                        <h6>NEWSLETTER</h6>
                        <form action="#">
                            <input type="text" placeholder="Email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <div class="footer__copyright__text">
                        <p>Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | LoomBazar </p>
                    </div>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/mdb.min.js' %}"></script>

    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'home/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'home/js/mixitup.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'home/js/main.js' %}"></script>
    {% block javascript %} {% endblock %}
    <script type="text/javascript">
        $('#megamenutab li').hover(function() {
            $(this).addClass('active');
            $(this).siblings().removeClass('active');
            $($(this).attr('rel')).removeClass('fade').addClass('active').siblings().addClass('fade').removeClass('active');
        });
        $("#accordion .nav-item .nav-link").click(function() {
            if ($(this).find(".plus_minus").hasClass("fa-plus")) {
                $(this).find(".plus_minus").removeClass("fa-plus");
                $(this).find(".plus_minus").addClass("fa-minus");
            } else if ($(this).find(".plus_minus").hasClass("fa-minus")) {
                $(this).find(".plus_minus").removeClass("fa-minus");
                $(this).find(".plus_minus").addClass("fa-plus");
            }
            $(this).parent(".nav-item").siblings().find(".nav-link .plus_minus").removeClass("fa-minus").addClass("fa-plus");
        });

        function show_sidebar() {
            $(".navbar").addClass("open_sidebar");
        }
        $(".side_overlay").on('click', function() {
            $(".navbar").removeClass("open_sidebar").removeClass("open_mobile_search");
        });
        $(".cross").on('click', function() {
            $(".navbar").removeClass("open_sidebar");
        });
        $("#mobile_search").on('click', function() {
            $(".navbar").addClass("open_mobile_search");
        });
    </script>
</body>

</html>