 {% extends 'home/base.html'%} {% load static %}{% block css %}
<link rel="stylesheet" href="{% static 'home/css/checkout_page.css' %} " type="text/css">
<style>
    @media only screen and (min-width: 992px) {
        textarea {
            height: 60px;
            width: 520px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        textarea {
            height: 75px;
            width: 350px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        textarea {
            height: 85px;
            width: 350px;
        }
    }
    
    @media only screen and (max-width: 479px) {
        textarea {
            height: 90px;
            width: 250px;
        }
    }
</style>

{% endblock %} {% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div id="accordion" class="accordion-style">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fa fa-sign-in  symbol" aria-hidden="true"></i>

                        <a class="btn-link color-accrodian" style="font-weight: bold;">

                            Login

                    </a>
                        <i class="fa fa-angle-right fa-2x arrow-style" aria-hidden="true"></i>

                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Login</p>
                                    <hr />
                                    <form action="#" id="checkout-login">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address<span style="color: red;">*</span></label>
                                            <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                                            <h6 id="login_email_errmsg" style="margin-top: 4px;"></h6>

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password<span style="color: red;">*</span></label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                                            <i toggle="#exampleInputPassword1" class="fa fa-fw fa-eye field-icon toggle-password" id="passwordcheck" style="float: right;
                                margin-left: -30px;
                                margin-top: -25px;
                                position: relative;
                                z-index: 2;"></i>
                                        </div>

                                        <button type="submit" id="login_submit" class="btn btn-primary">login</button>
                                        <a href="#">Forgot Password</a>
                                    </form>

                                </div>
                                <div class="col-md-6">
                                    <p>Register</p>
                                    <hr />
                                    <form action="" id="checkout-register">
                                        <div class="form-group">
                                            <label for="exampleInputFullName">Full Name<span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" id="exampleInputFullName" aria-describedby="fullnameHelp" placeholder="Enter FullName" name="username">

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputMobile">Mobile Number<span style="color: red;">*</span></label>
                                            <input type="text" class="form-control" id="exampleInputMobile" aria-describedby="mobileHelp" placeholder="Enter MobileNumber" name="mobile">

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address<span style="color: red;">*</span></label>
                                            <input type="email" class="form-control" id="register_email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                                            <h6 id="reg_email_errmsg" style="margin-top: 4px;"></h6>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password<span style="color: red;">*</span></label>
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">

                                        </div>

                                        <button type="submit" id="reg_submit" class="btn btn-primary">Register</button>

                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fa fa-address-card fa-2x symbol" aria-hidden="true"></i>

                        <a class="btn-link collapsed" style="font-weight: bold;">

                            Delivary Address
                    </a>
                        <i class="fa fa-angle-right fa-2x arrow-style" aria-hidden="true"></i>

                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="addNewAddress">
                            <a href="#fullHeightModalRight" data-target="#fullHeightModalRight" data-toggle="modal" class="btn add-address" style="width: max-content;font-weight:bold;">+ Add New Address</a>

                        </div>
                        {% for addr in user.address_set.all %}
                        <div class="input-group" style="margin-top: 5px;margin-bottom:10px;">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="radio" aria-label="Radio button for following text input" name="radio-adds">
                                </div>
                            </div>
                            <!--<textarea class="add_txt" style="background-color: #FFFFE0;resize:none;" placeholder="" disabled><span id="{{addr.pk}}full_name">{{addr.full_name}}</span> <span id="{{addr.pk}}address">{{addr.address}}</span> <span id="{{addr.pk}}landmark">{{addr.landmark}}</span> <span id="{{addr.pk}}district">{{addr.district}}</span> <span id="{{addr.pk}}state">{{addr.state}}</span> <span id="{{addr.pk}}pin_code">{{addr.pin_code}}</span></textarea>-->
                            <textarea class="add_txt" contenteditable="true" style="background-color: #FFFFE0;resize:none;" placeholder="" disabled>{{addr.full_name}} , {{addr.address}} , {{addr.landmark}} , {{addr.district}} , {{addr.state}} , {{addr.pin_code}} , {{addr.mobile_number}}</textarea>
                            <a href="#fullHeightModalRight" data-target="#edit_address" data-toggle="modal" id="checkoutadd{{addr.pk}}" data-name="{{addr.full_name}}" data-address="{{addr.address}}" data-landmark="{{addr.landmark}}" data-district="{{addr.district}}" data-state="{{addr.state}}"
                                data-pin="{{addr.pin_code}}" data-number="{{addr.mobile_number}}" class="checkout_address" style="margin-left: 15px;font-size:large;"><span class="fa fa-edit"></span></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fa  fa-key fa-2x symbol" aria-hidden="true"></i>

                        <a class="btn-link collapsed" style="font-weight: bold;">
                            OTP Verification
                    </a>
                        <i class="fa fa-angle-right fa-2x arrow-style  " aria-hidden="true"></i>

                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="mobile-verfication">
                                        <form action="#" id="mobileverfication-form">
                                            <div class="form-group">
                                                <label for="exampleMobile">Mobile Number<span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="exampleMobile" aria-describedby="mobileHelp" placeholder="Mobile Number" name="mobile">

                                                <small class="text-muted">Either mobile Number Exist send otp or change the Mobile Number.</small>

                                            </div>


                                            <button type="submit" class="btn btn-primary" id="send-otp">Send Otp</button>

                                        </form>

                                    </div>

                                </div>
                                <div class="col-md-5">

                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-7 mt-2">
                                    <div class="otp-verfication">
                                        <form action="#" id="otpverfication-form">
                                            <div class="form-group">
                                                <label for="exampleInputOtp">OTP<span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="exampleInputOtp" aria-describedby="otpHelp" placeholder="Enter OTP" name="otp">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="fa fa-first-order fa-2x symbol" aria-hidden="true"></i>

                        <a class="btn-link collapsed" style="font-weight: bold;">
                            Order Summary
                    </a>
                        <i class="fa fa-angle-right fa-2x arrow-style  " aria-hidden="true"></i>

                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            Order Summary


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <i class="fa fa-credit-card fa-2x symbol" aria-hidden="true"></i>
                        <a class="btn-link collapsed" style="font-weight: bold;">

                            Payment
                    </a>
                        <i class="fa fa-angle-right fa-2x arrow-style  " aria-hidden="true"></i>

                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <form>

                                <div class="d-block my-3">
                                    <div class="custom-control custom-radio">
                                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                        <label class="custom-control-label" for="debit">Debit card/Credit card/UPI/Phonepy/Gpay</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                        <label class="custom-control-label" for="credit">COD</label>
                                    </div>

                                    <!-- <div class="custom-control custom-radio">
                                        <input id="paypal" name="paymentMethod" type="radio"
                                            class="custom-control-input" required>
                                        <label class="custom-control-label" for="paypal">Paypal</label>
                                    </div> -->
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-name">Name on card</label>
                                        <input type="text" class="form-control" id="cc-name" placeholder=""
                                            required>
                                        <small class="text-muted">Full name as displayed on card</small>
                                        <div class="invalid-feedback">
                                            Name on card is required
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="cc-number">Credit card number</label>
                                        <input type="text" class="form-control" id="cc-number" placeholder=""
                                            required>
                                        <div class="invalid-feedback">
                                            Credit card number is required
                                        </div>
                                    </div>
                                </div>
                                <div class="row"> -->
                                <!-- <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">Expiration</label>
                                        <input type="text" class="form-control" id="cc-expiration" placeholder=""
                                            required>
                                        <div class="invalid-feedback">
                                            Expiration date required
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="cc-expiration">CVV</label>
                                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                        <div class="invalid-feedback">
                                            Security code required
                                        </div>
                                    </div>
                                </div> -->
                                <hr class="mb-4">
                                <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>

            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Product name</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Second product</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Third item</h6>
                        <small class="text-muted">Brief description</small>
                    </div>
                    <span class="text-muted">$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>$20</strong>
                </li>
            </ul>

            <!--<form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>


</div>



<!-- Modal Add new Address -->
<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Add New Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'checkout_new_address' %}" method="POST" id="checkout-addnewaddress">
                    {% csrf_token %}
                    <div class="form-group">

                        <input name="pin_code" class="form-control" placeholder="Pin Code" type="text" id="pin_code">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="district" class="form-control" placeholder="District" type="text" id="district">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="state" class="form-control" placeholder="State" type="text" id="state">
                    </div>
                    <!-- form-group// -->

                    <div class="form-group">

                        <input name="full_name" class="form-control" placeholder="Full Name" type="text" id="full_name">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="address" class="form-control" placeholder="Address" type="text" id="address">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="landmark" class="form-control" placeholder="LandMark" type="text" id="landmark">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group" style="position: relative;">


                        <input name="mobile_number" class="form-control" placeholder="Phone Number" type="text" id="mobile_number" style="padding:5px 5px 5px 40px;">
                        <label for="youridhere" class="static-value" style="
                        position:absolute;
                        left:10px;
                        font-weight:bold;
                        font-size:0.8em;
                        color:#444;
                        top:9px;
                    ">+91:</label>
                    </div>
                    <!-- form-group// -->



                    <div class="modal-footer justify-content-center">

                        <button type="submit" class="btn btn-primary">Save Address</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<!-- End Full Height Modal Right -->




<!-- Modal Edit Address -->
<!-- Full Height Modal Right -->
<div class="modal fade right" id="edit_address" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel1">Edit Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'checkout_edit_address' %}" method="POST" id="checkout-edit-profile">
                    {% csrf_token %}


                    <input type="hidden" id="checkout_edit_address_pk" name="checkout_edit_address_pk">
                    <div class="form-group">

                        <input name="pin_code" class="form-control" placeholder="Pin Code" type="text" id="edit_pin_code">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="district" class="form-control" placeholder="District" type="text" id="edit_district">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="state" class="form-control" placeholder="State" type="text" id="edit_state">
                    </div>
                    <!-- form-group// -->

                    <div class="form-group">

                        <input name="full_name" class="form-control" placeholder="Full Name" type="text" id="edit_full_name">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="address" class="form-control" placeholder="Address" type="text" id="editaddress">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">

                        <input name="landmark" class="form-control" placeholder="LandMark" type="text" id="edit_landmark">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group" style="position: relative;">


                        <input name="mobile_number" class="form-control" placeholder="Phone Number" type="text" id="edit_mobile_number" style="padding:5px 5px 5px 40px;">
                        <label for="youridhere" class="static-value" style="
                        position:absolute;
                        left:10px;
                        font-weight:bold;
                        font-size:0.8em;
                        color:#444;
                        top:9px;
                    ">+91:</label>
                    </div>
                    <!-- form-group// -->

                    <div class="modal-footer justify-content-center">

                        <button type="submit" class="btn btn-primary">Update Address</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- end  Modal Edit Address -->
<!-- end  Full Height Modal Right -->


{% endblock %} {% block javascript %}
<script src="{% static 'home/js/checkout_page.js' %}"></script>
<script>
    $('#login_email').change(function() {
        var email = $(this).val();
        $.ajax({
            url: '{% url "login_page_email" %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function(data) {
                if (data.is_exist) {

                    document.getElementById('login_email').style.boxShadow = '2px 2px 2px green';
                    document.getElementById('login_email_errmsg').textContent = " ";
                    $('#login_submit').prop('disabled', false);
                } else {
                    $('#login_submit').prop('disabled', true);
                    document.getElementById('login_email').style.boxShadow = '2px 2px 2px red';
                    document.getElementById('login_email_errmsg').style.color = 'red';
                    document.getElementById('login_email_errmsg').textContent = "Account with this email Doesn't exist";
                }
            }
        })
    });

    $('#register_email').change(function() {
        var email = $(this).val();
        $.ajax({
            url: '{% url "login_page_email" %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function(data) {
                if (data.is_exist) {
                    $('#reg_submit').prop('disabled', true);
                    document.getElementById('register_email').style.boxShadow = '2px 2px 2px red';
                    document.getElementById('reg_email_errmsg').style.color = 'red';
                    document.getElementById('reg_email_errmsg').textContent = "Account with this email Already exist";


                } else {
                    $('#reg_submit').prop('disabled', false);
                    document.getElementById('register_email').style.boxShadow = '2px 2px 2px green';
                    document.getElementById('reg_email_errmsg').textContent = " ";
                }
            }
        })
    });
</script>
<script>
    $('.checkout_address').click(function() {
        pk = this.id;
        name = $(this).data('name');
        address = $(this).data('address');
        landmark = $(this).data('landmark');
        district = $(this).data('district');
        state = $(this).data('state');
        pin = $(this).data('pin')
        number = $(this).data('number');


        $('#checkout_edit_address_pk').val(pk);
        $('#edit_pin_code').val(pin);
        $('#edit_district').val(district);
        $('#edit_state').val(state);
        $('#edit_full_name').val(name);
        $('#edit_mobile_number').val(number);
        $('#editaddress').val(address);
        $('#edit_landmark').val(landmark);
    });
</script>

{% endblock %}