{% extends 'home/base.html'%} {% block content %}{% load static %} {% block css %}
<link rel="stylesheet" href="" type="text/css"> {% endblock %}
<div class="container">
    <div>
        <h3>CONTACT US</h3><br/>

    </div>
    <div class="row">
        <div class="col-md-12 col-12">
             <i>WHATSAPP US</i>
             <br/>
             <a href="https://wa.me/919040444389?text=Hi">9040444389</a><br/><br/>
             <i>CALL US</i><br/>
             <a href="tel:1800%890%1222">1800 890 1222</a>
             <br/>
             <p>8:00 AM to 8:00 PM, 365 days</p>
             <h3>Concerns not addressed?</h3>
             <div style="font-family:Times New Roman">
                <p >It is our priority to positively respond and address any concerns you may have at the earliest. To ensure this,
                    our team is continuously working to provide you the best of support, 
                    though a few concern/issues that are complex in nature may require additional time to resolve.</p>
              
                    <p>In the unlikely event that your concerns are not addressed satisfactorily,
                         you could communicate directly to higher authorities. 
                         To facilitate and better manage this we have aligned a structure to aid communication.</p>

             </div>
              <h6>Communication structure for concerns not addressed satisfactorily:</h6>
             
              <ul class="pl-3">
                  <li>Level-2: CS Head: cshead@jiomart.com</li>
                     <ul class="pl-3">
                         <li>This is the final level to redress grievances that have already been conveyed to the Level 1 customer support</li>
                         <li>While writing, we encourage you to quote the communication and allied resolution offered in earlier stages so that we get a holistic view</li>
                         <li>We value your time and are committed to ensure your satisfaction in all your interactions with us</li>
                         <li>Please allow 24-48 hours for a resolution</li>
                     </ul>
              </ul>
             


        </div>
    </div>
    
    
             

</div>







{% block javascript %}


{% endblock %} {% endblock %}