{% extends 'home/base.html'%} {% block content %}{% load static %} {% block css %}
<link rel="stylesheet" href="" type="text/css"> {% endblock %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4>FAQs</h4>
        </div>
    </div>
    <div class="row">
          <div class="col-sm-12">
              <b>Frequently Asked Questions:</b><br/><br/>
              <div style="color:#A4A4A4;">
                  <p>Check out this section to get answers for all the frequently asked questions.</p>
                  <p>If you’d like get in touch with us, 
                      please do write to us at <a href="mailto:cs@jiomart.com">cs@jiomart.com </a> or call us on <a href="tel:1800%890%1222">1800 890 1222
                           </a>between 8:00 am & 8:00 pm throughout the week and we will respond immediately.</p>
                           <p>You can also reach out to us on Whatsapp :<a href="https://wa.me/919040444389?text=Hi">9040444389</a></p>

              </div>
         
               
              
                
          </div>

    </div>
           

</div>






{% block javascript %}


{% endblock %} {% endblock %}