{% extends 'home/base.html' %}{% load static %} {% load socialaccount %} {% block css %}
<link rel="stylesheet" href="{% static 'home/css/login.css' %} " type="text/css"> {% endblock %} {% block content %}
<div class="logincontainer my-5" style="border: 2px solid brown;border-radius: 6px;" id="loginpage">
    <br>
    <h4 style="font-weight: bold;text-align:center;color:dodgerblue;">
        Login / Registration
    </h4>
    <hr>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Login</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Register</a>

        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <br> {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> {{ message }}
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-8 ">
                    <div class="mycontent-left">
                        <div class="tab-pane active" id="Login">
                            <form role="form" class="form-horizontal" id="loginform" name="login_form" method="POST" action="{% url 'login' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email <span>*<span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email1" placeholder="Enter Email" name="email" />
                                        <h6 id="login_email_errmsg" style="margin-top: 4px;"></h6>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="col-sm-2 control-label">
                                        Password<span>*<span></label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter Password" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Submit</button>
                                        <a data-toggle="modal" data-target="#forget_password">Forgot your password ?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-center">
                            Sign in with
                        </h3>
                        <div class="btn-group-sm">
                            <a href="#" class="btn btn-primary ">Facebook</a>
                            <a href="{% provider_login_url 'google' %}" class="btn btn-danger ">Google</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>



        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row  no-gutters">
                <div class="col-md-8 col-sm-8">
                    <div class="mycontent-left">
                        <div class="tab-pane" id="Registration">
                            <form role="form" class="form-horizontal " id="registerform" method="POST" action="{% url 'reg_form' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Name <span>*<span></label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <select class="form-control" name="gender_mark" required>
                                                    <option>Mr.</option>
                                                    <option>Ms.</option>
                                                    <option>Mrs.</option>
                                                </select>
                                            </div>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" placeholder="Enter Name" name="username" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">
                                        Email <span>*<span></label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" />
                                        <h6 id="reg_email_errmsg" style="margin-top: 4px;"></h6>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="col-sm-2 control-label">
                                        Mobile <span>*<span></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile" name="mobile" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">
                                        Password<span>*<span></label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpassword" class="col-sm-2 control-label">
                                        Confirm
                                        Password<span>*<span></label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="confirmpassword" placeholder="Enter Confirm Password" name="confirmpassword" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            Save & Continue</button>
                                        <button type="reset" class="btn btn-default btn-sm">
                                            Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>


                </div>

                <div class="col-md-4 d-flex align-items-center">
                    <div>
                        <h3 class="text-center">
                            Sign in with
                        </h3>
                        <div class="btn-group-sm">
                            <a href="#" class="btn btn-primary ">Facebook</a>
                            <a href="#" class="btn btn-danger ">Google</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <br>
</div>


<!-- Forget Password -->


<!-- Modal -->
<div class="modal fade" id="forget_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;">Reset your password here ...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <div id="email_sending">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="email" class="col-sm-6 control-label">
                                Enter your registerd email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="forget_email" placeholder="Enter Email" name="forget_email" />
                                <h6 id="forget_email_errmsg" style="margin-top: 4px;"></h6>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-info" name="otp" value="Send OTP">
                    </form>
                </div>

                <div id="verify_otp">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="otp" class="col-sm-8 control-label">
                                Enter the OTP from your Email </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="verify_otp_txt" placeholder="Enter OTP" name="verify_otp_txt" />
                                <h6 id="verify_otp_errmsg" style="margin-top: 4px;"></h6>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-warning" name="verify" value="Verify OTP">
                    </form>
                </div>

                <div id="new_password">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="otp" class="col-sm-6 control-label">
                                Enter your new password </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="new_password_txt" placeholder="Ente New Password" name="new_password_txt" />
                                <h6 id="new_password_errmsg" style="margin-top: 4px;"></h6>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="otp" class="col-sm-6 control-label">
                                Enter your password again </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="confirm_password_txt" placeholder="Enter New Password Again" name="confirm_password_txt" />
                                <h6 id="confirm_password_errmsg" style="margin-top: 4px;"></h6>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-success" name="set_password" value="Set Password">
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div>
    </div>
</div>







{% endblock %} {% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.js"></script>
<script src="{% static 'home/js/login_Validation.js' %}"></script>
<script>
    var is_exist_email = false;
    $('#email1').change(function() {
        var email = $(this).val();
        $.ajax({
            url: '{% url "login_page_email" %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function(data) {
                if (data.is_exist) {
                    is_exist_email = true;
                    document.getElementById('login_email_errmsg').style.color = 'green';
                    document.getElementById('login_email_errmsg').textContent = "Account exist";
                } else {
                    is_exist_email = false;
                    document.getElementById('login_email_errmsg').style.color = 'red';
                    document.getElementById('login_email_errmsg').textContent = "Account with this email Doesn't exist";
                }
            }
        })
    });

    const login_form = document.getElementsByTagName('form')[0];
    login_form.onsubmit = function(e) {
        if (is_exist_email) {


        } else {
            e.preventDefault();
            document.getElementById('login_email_errmsg').style.color = 'red';
            document.getElementById('login_email_errmsg').textContent = "Account with this email Doesn't exist";
        }
    }
</script>
<script>
    var is_exist_email = false;
    $('#email').change(function() {

        var email = $(this).val();
        $.ajax({
            url: '{% url "login_page_email" %}',
            data: {
                'email': email
            },
            dataType: 'json',
            success: function(data) {
                if (data.is_exist) {
                    is_exist_email = true;
                    document.getElementById('reg_email_errmsg').style.color = 'red';
                    document.getElementById('reg_email_errmsg').textContent = "Already an account exist with this email !";
                } else {
                    is_exist_email = false;
                    document.getElementById('reg_email_errmsg').textContent = " ";

                }
            }
        })
    });

    const reg_form = document.getElementsByTagName('form')[1];
    reg_form.onsubmit = function(e) {
        if (is_exist_email) {
            e.preventDefault();
            document.getElementById('reg_email_errmsg').style.color = 'red';
            document.getElementById('reg_email_errmsg').textContent = "Already an account exist with this email !";
        } else {
            document.getElementById('reg_email_errmsg').textContent = " ";
        }
    }
</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock %}