{% extends 'home/base.html'%} {% block content %}{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'home/css/order_history.css' %} " type="text/css"> {% endblock %}

<div class="container">
    <div>
        <h3>Your Orders</h3>

    </div>
    <div class="row">
        <div class="col-md-2 col-12 d-none d-sm-block">
              <div class="filter">
                  <h3>Filters</h3>
                  <h5 class="filtertype ordertypefilter">Order Type</h5>
                  <h5 class="filtertype filtertime">Filter Time</h5>
              </div>


        </div>
        <div class="col-md-10 col-12">
               <div class="d-none d-sm-block show-order">
                   <p>
                   <span>Showing Your Orders</span>
                </p>


               </div>
               <div class="text-center empty">
                Order placed? It might take few minutes to reflect here.
               </div>

        </div>
    </div>
             

</div>

{% block javascript %}


{% endblock %} {% endblock %}