{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home/css/product_view.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'home/css/lightslider.css' %}" type="text/css">
{% endblock %}
{% block content %}



<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="h2 txt px-2 d-md-none">Women saree</div>
                <div class="img_container">

                    <img src="{% static 'home/img/indexpage/womendev.jpg' %}" alt="">
                    <a href="#" class="btn  btn-rounded text-dark d-md-none">Explore more</a>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="info_container py-5">

                    <div class="h2">Women saree</div>
                    <p>Discover the handcrafted amalgamation of tradition art and age-old
                        craftmanship with tendy styles and silhouettes. Discover the handcrafted
                        amalgamation of traditional art and age-old craftmanship with tendy style
                        and silhouettes.</p>

                    <a href="" class="btn btn-danger btn-rounded text-dark">Explore more</a>
                </div>
            </div>
        </div>
        <!-------------- product image slider ----------------->
        <ul  class="autoWidth cs-hidden my-3">
            
            <li class="item-a">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/1.1.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-b">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/2.0.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9990</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-c">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/3.0.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-d">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/4.0.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-e">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/5.0.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-f">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/6.0.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9990</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-g">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/1.1.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-h">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/2.1.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree1</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
           
        </ul>
    </div>
</section>
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <div class="h2">Men Fashion</div>
                <div class="info_container py-5">

                    
                    <p>Discover the handcrafted amalgamation of tradition art and age-old
                        craftmanship with tendy styles and silhouettes. Discover the handcrafted
                        amalgamation of traditional art and age-old craftmanship with tendy style
                        and silhouettes.</p>

                    <a href="" class="btn btn-danger btn-rounded text-dark">Explore more</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h2 txt px-2 d-md-none">Men Fashion</div>
                <div class="img_container">

                    <img src="{% static 'home/img/indexpage/mendev.jpg' %}" alt="">
                    <a href="#" class="btn  btn-rounded text-dark d-md-none">Explore more</a>
                </div>
            </div>
           
        </div>
        <!-------------- product image slider ----------------->
        <ul  class="autoWidth cs-hidden my-3">
            
            <li class="item-a">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men1.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-b">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men2.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9990</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-c">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men3.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-d">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men4.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-e">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men5.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-f">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men6.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9990</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-g">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men2.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-h">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/men3.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree1</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
           
        </ul>
    </div>
</section>
<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <div class="h2 txt px-2 d-md-none">Kid Fashion</div>
                <div class="img_container">

                    <img src="{% static 'home/img/indexpage/kiddev.jpg' %}" alt="">
                    <a href="#" class="btn  btn-rounded text-dark d-md-none">Explore more</a>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="info_container py-5">

                    <div class="h2">Kid Fashion</div>
                    <p>Discover the handcrafted amalgamation of tradition art and age-old
                        craftmanship with tendy styles and silhouettes. Discover the handcrafted
                        amalgamation of traditional art and age-old craftmanship with tendy style
                        and silhouettes.</p>

                    <a href="" class="btn btn-danger btn-rounded text-dark">Explore more</a>
                </div>
            </div>
        </div>
        <!-------------- product image slider ----------------->
        <ul  class="autoWidth cs-hidden my-3">
            
            <li class="item-a">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid1.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-b">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid4.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9990</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-c">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid3.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-d">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid4.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-e">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid5.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-f">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid4.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 9990</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-g">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid3.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="item-h">
                <a href="#">
                    <div class="product_box">
                        <!-- product image -->
                        <div class="product_img">

                            <img src="{% static 'home/img/indexpage/kid5.jpg' %}" alt="product image">


                        </div>
                        <!-- product details -->
                        <div class="product_details">
                            <div class="product_name">Sambalpuri saree1</div>
                            <div class="product_price">Rs 999</div>
                        </div>
                    </div>
                </a>
            </li>
           
        </ul>
    </div>
</section>
<div class="container my-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa blanditiis, suscipit quis harum soluta veniam
    adipisci vel totam iste unde?
</div>

{% endblock %}
{% block javascript %}

<script src="{% static 'home/js/lightslider.js' %}"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        var autoplaySlider = $('.autoWidth').lightSlider({
            item: 5,
            loop: true,
            slideMove: 1,
            // easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 600,
            auto: true,
            pauseOnHover: true,

            responsive: [
                {
                    breakpoint: 800,
                    settings: {
                        item: 3,
                        slideMove: 1,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        item: 2,
                        slideMove: 1
                    }
                }
            ],
            onBeforeSlide: function (el) {
                $('#current').text(el.getCurrentSlideCount());
            }
        });

        $('#total').text(autoplaySlider.getTotalSlideCount());
    });

</script>
{% endblock %}