{% extends 'home/base.html'%} {% block content %}{% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'home/css/user_profile.css' %} " type="text/css"> {% endblock %}
  <!-- Customer Account Page Start  -->
  <div class="container">
      
    <div class="customer-account mt-3">
         <div class="page-title">
                <h3>My Account</h3>

         </div>
          <div class="row">
               <div class="col-md-5 col-12">
                 <div class="my-profile">
                     <div class="row">
                        <div class="col-xs-2">
                             <img src="static/home/img/profile/download.png" alt="no-photo" class="user-profile-img">

                        </div>
                        <div class="col-xs-8">
                             <div class="customerfullname">
                                  <h3>Bachan Ghatuary</h3>
                                <h6>ghatuarybachan@gmail.com</h6>
                                <h6>+91-9040444389</h6>

                             </div>
                            
                        </div>
                        <div class="col-xs-2">
                              
                            <a  class="editinfo personalinfor d-block d-sm-none" href="#updateModal" data-target="#updateModal" data-toggle="modal">
                             <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                            </a>
                              
                            
                          </div>

                     </div>
                      <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                 <a href="{% url 'payment_method' %}" class="fa fa-credit-card btn btn-info payment">
                                     Payment Methods
                                 </a>

                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                 <a href="{% url 'order_history' %}" class="fa fa-shopping-bag btn btn-info order">
                                     Order Histrory
                                 </a>

                              </div>

                      </div>
                            <div class="row">
                               <div class="col-md-12">

                                <a href="{% url 'delivary_address' %}" class="fa fa-map-marker btn btn-info btn-block address">
                                 Delivery Address
                               </a>
                               
                               </div>
                               
                             

                          </div>
                </div>
                  

         </div> 
           <div class="col-md-7 col-12">
                  <div class="personaldetalis d-none d-sm-block">
                        <div class="row">
                              <div class="col-md-4">
                                    <h6>Account Information</h6>
                                    <div class="label">
                                        Full Name
                                    </div>
                                      <div class="txt">
                                          Bachan Ghatuary
                                      </div>
                                      <div class="label">
                                         Email
                                     </div>
                                       <div class="txt">
                                           ghatuarybachan@gmail.com
                                       </div>
                                       <div class="label">
                                         Gender
                                     </div>
                                       <div class="txt">
                                           Male
                                       </div>

                              </div>
                              <div class="col-md-6 mt-4">
                                 <div class="label">
                                        Age
                                 </div>
                                   <div class="txt">
                                       18
                                   </div>
                                   <div class="label">
                                       Mobile Number
                                  </div>
                                    <div class="txt">
                                        +91 9040444389
                                    </div>
                                    <div class="label">
                                     Default Address
                                </div>
                                  <div class="txt">
                                       Bachan Ghatuary,GoudBad sahi,
                                       Puri,Odisha
                                       puri,Odisha752001
                                  </div>

                                         
                                  
                             </div>
                             <div class="col-md-2">
                                   <div>
                                     <a href="#updateModal" data-target="#updateModal" data-toggle="modal" class="text-danger">Edit</a>
                                   </div>
                                  
                             </div>
                        </div>


                  </div>

           </div>   
           
           
     </div>
                          
        
  </div>


  <!--Customer Account Information Page End -->

  <!-- Common Part Start Profile Page -->

    <div class="row">
              <div class="col-md-5 col-12">
                  <div class="customlink">
                      <div class="linkcontrol">
                         <a href="{% url 'wishlist' %}">
                             <i class="fa fa-heart"></i>
                             <span class="icon">WishList</span>
                         </a>
                         <a href="{% url 'legal_information' %}">
                             <i class="fa fa-gavel"></i>
                             <span class="icon ">Legal Information</span>
                         </a>
                         <a href="{% url 'faqs' %}">
                             <i class="fa fa-question-circle"></i>
                             <span class="icon ">FAQ's</span>
                         </a>
                         <a href="{% url 'contact_us' %}">
                             <i class="fa fa-phone"></i>
                             <span class="icon ">Contact Us</span>
                         </a>
                         <a href="">
                             <i class="fa fa-sign-out"></i>
                             <span class="icon ">Logout</span>
                         </a>
                         
                  

                      </div>
                       

                  </div>

              </div>
              <div class="col-md-7 col-12 d-none d-sm-block">

              </div>
    </div>

  <!-- Common Part Start Profile Page -->
          

</div>

<!-- User Update Modal  -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
 <div class="modal-header text-center">
   <h5 class="modal-title font-weight-bold w-100" id="exampleModalLabel">Edit Profile</h5>
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body bootstrap-iso">
     <form action="#!">
         <div class="form-group input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
             <input name="" class="form-control" placeholder="Full name" type="text">
         </div> <!-- form-group// -->
         <div class="form-group input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text"> <i class="fa fa-transgender"></i> </span>
             </div>
             <select class="form-control">
                 <option selected=""> Select Gender</option>
                 <option>Male</option>
                 <option>Female</option>
                 <option>Others</option>
             </select>
         </div> <!-- form-group end.// -->
         <div class="form-group input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text"> <i class="fa fa-calendar"></i> </span>
              </div>
              <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
         </div> <!-- form-group// -->
        
         <div class="form-group input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
              </div>
             <input name="" class="form-control" placeholder="Email" type="email">
         </div> <!-- form-group// -->
         <div class="form-group input-group">
             <div class="input-group-prepend">
                 <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
              </div>
             <input name="" class="form-control" placeholder="Phone Number" type="email">
         </div> <!-- form-group// -->

         
   
        
   
     </form> 
       
 </div>
 <div class="modal-footer">
   
   <button type="button" class="btn btn-primary btn-block">Save changes</button>
 </div>
</div>
</div>
</div>

<!-- End User Modal -->













{% block javascript %}

<script>
    $(document).ready(function(){
		var date_input=$('input[name="date"]'); //our date input has the name "date"
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})
</script>
{% endblock %} {% endblock %}