
/* search box styling */

.search_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    position: relative;
}

.search_box input{
    width: 100%;
    border: 2px #aea9a9 solid;
    background: #f4f3f3;
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px 0px 45px;
    outline: none;
    font-size: 14px;
    box-sizing: border-box;
}
.search_box input:focus{
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

}
.search_box .fa-search{
    position: absolute;
    top: 30%;
    left: 7%;
}
.search_box .fa-search:hover{
    cursor: pointer;
}

/*  mega-menu styling*/

.navbar .mega-dropdown .mega-menu{
  margin: 0px 20%;

}

.sub-title{
    border-bottom: 1px solid #e0e0e0;
}
/* .container_shadow{
    position: absolute;
    z-index: 1;
    height: 90vh;
    width: 100%;
    background: rgba(0,0,0,0.12); 
} */
